---
layout: page
title: "About"
description: "Hey, this is LYM."
header-img: "img/post-bg-rwd.jpg"
---
<!DOCTYPE html>

<!-- Language Selector -->
<!-- <select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select> -->
<head>
	<style>

#jiv{
            width: 60px;height: 60px;border: 1px solid #444;
            border-radius: 100%;
			overflow: hidden;
			float:  left;
		    box-shadow: 0 0 10px #444;
			background-image: url(/img/doABM4.jpg);
			background-size: 100%;
        }
#eiv{
            width: 60px;height: 60px;border: 1px solid #444;
            border-radius: 100%;
			overflow: hidden;
			float:  left;
		    box-shadow: 0 0 10px #444;
			background-image: url(/img/7ac0f2267c07862a8e9dbb046c85a0ca.jpg);
			background-size: 100%;
        }
#civ{
            width: 60px;height: 60px;border: 1px solid #444;
            border-radius: 100%;
			overflow: hidden;
			float:  left;
		    box-shadow: 0 0 10px #444;
			background-image: url(/img/43c0e067f4fe652ab4e412ac27cde2cd.jpg);
			background-size: 100%;
        }
#biv{
            width: 60px;height: 60px;border: 1px solid #444;
            border-radius: 100%;
			overflow: hidden;
			float:  left;
		    box-shadow: 0 0 10px #444;
			background-image: url(/img/g.jpg);
			background-size: 100%;
        }
#aiv{
            width: 60px;height: 60px;border: 1px solid #444;
            border-radius: 100%;
			overflow: hidden;
			float:  left;
		    box-shadow: 0 0 10px #444;
			background-image: url(/img/ajrecho.jpg);
			background-size: 100%;
        }
		#div{
            width: 80px;height: 80px;border: 1px solid #444;
            border-radius: 100%;
			overflow: hidden;
			float:  left;
		    box-shadow: 0 0 10px #444;
			background-image: url(/img/avatar-by.jpg);
			background-size: 100%;
        }
</style>
	<script>
	    document.addEventListener('DOMContentLoaded', initLiveDay);
	    function initLiveDay() {
	        const birthTime = '2015/2/21 10:23:12';
	        const template = (A, B, C, D) => `本站已勉强生存 ${A}天 ${B}时 ${C}分 ${D}秒.`;
	
	        /* 锚点开始 */
	        const container = footer.querySelector('.container');
	        const p = document.createElement('p');
	        container.insertBefore(p, container.firstElementChild);
	        /* 锚点结束*/
	
	        const msoad = 24 * 60 * 60 * 1000;
	        const warp = n => n > 9 ? n : '0' + n;
	        const toInt = n => warp(Math.floor(n));
	        setInterval(() => {
	            const lived = new Date() - new Date(birthTime);
	            const days = lived / msoad;
	            const intDays = toInt(days);
	            const hours = (days - intDays) * 24;
	            const intHours = toInt(hours);
	            const minutes = (hours - intHours) * 60;
	            const intMinutes = toInt(minutes);
	            const seconds = (minutes - intMinutes) * 60;
	            const intSeconds = toInt(seconds);
	            p.innerHTML = template(intDays, intHours, intMinutes, intSeconds);
	        }, 1000);
	    }
	</script>
</head>
<!-- Chinese Version -->
	<!--copied from markdown -->
	<br>
	<!--<a href="https://orxing.top/nav/"><img src="/img/avatar-by.jpg" width="117" height="152" alt="Me!" border-radius=200px;></a>-->
	<blockquote>
		<p>冰冻三尺 非一日之寒<br>
			积土成山 非斯须之作<br>
			<div id="div" >
				<!--<a href="https://orxing.top/nav/"><img   src="/img/avatar-by.jpg" width="117" height="152" alt="Me!" ></a>-->
			</div>
			<div class="zh post-container">
				</p>
	<!--三个属性缺一不可，前边也需要一个斜杠-->
	<blockquote><p>&nbsp Hey，我是<strong>廉一鸣</strong>，一只初四斜杠学生</p><blockquote>
	<hr>
	<p>感谢你来到这里吖(◍˃̶ᗜ˂̶◍)✩~
		
		<br />
	网站のApp--<strong><a href="https://wwe.lanzous.com/iIwtBh326pi">Lianyiming.apk</a></strong>
		<br />
		网站の源码--<strong><a href="{{ site.github_repo }}">Github·Lianyiming.github.io</a></strong>
			<br />
		网站的Appの源码--<a href="https://github.com/LianYiMing/LY-Blog">Github·LY |  Blog</a>
		

</div>

<!-- English Version -->
<!-- <div class="en post-container">
    <blockquote><p>Yet another  Developer. <br>
    Yet another Life-long Student.</p></blockquote>

    <p>Hi, I am <strong>agzx</strong>，you can call me <strong>LY</strong>. I am an green-hand student</p>

    <p>This is my personal blog, through making Github Pages and Jekyll.My GitHub  👉 <a href="http://github.com/lianyiming">Github·LY</a>.</p>
  -->
    <h4>Dear Friends</h4>

  <blockquote>  <ul>
<h5><a href=""> </a></h5><div id="aiv" >
				
			</div></li>
  <li><strong><h3><a href="https://www.saroin.com/">&nbsp ~ &nbsp鲸一</a></h3></strong><div id="biv" >
				
			</div></li>
  <li><strong><h3><a href="https://iuiu.run/">&nbsp ~ &nbsp哎呦哎呦</a></h3></strong><div id="eiv" >
				
			</div></li>
    <li><strong><h3><a href="https://www.kifroom.icu/#">&nbsp ~ &nbspKif Room</a></h3></strong><div id="civ" >
				
			</div></li>
	<li><strong><h3><a href="https://blog.xuyiyang.top/">&nbsp ~ &nbspXu Yiyang</a></h3></strong><div id="jiv" >
				
			</div></li>
			
	<li><strong><h3><a href="https://blog.jyxb.net/?">&nbsp ~ &nbsp君也小白</a></h3></strong><div id="" >
				
			</div></li>
	<!--仔细看-->
    <li><a href=""></a></li>
    </ul>
</div> 

<!-- Handle Language Change -->
<script type="text/javascript">
	// get nodes
	var $zh = document.querySelector(".zh");
	var $en = document.querySelector(".en");
	var $select = document.querySelector("select");

	// bind hashchange event
	window.addEventListener('hashchange', _render);

	// handle render
	function _render() {
		var _hash = window.location.hash;
		// en
		if (_hash == "#en") {
			$select.selectedIndex = 1;
			$en.style.display = "block";
			$zh.style.display = "none";
			// zh by default
		} else {
			// not trigger onChange, otherwise cause a loop call.
			$select.selectedIndex = 0;
			$zh.style.display = "block";
			$en.style.display = "none";
		}
	}

	// handle select change
	function onLanChange(index) {
		if (index == 0) {
			window.location.hash = "#zh"
		} else {
			window.location.hash = "#en"
		}
	}

	// init
	_render();
	
	
	<script>
	
	    // 鼠标点击爱心特效
	!function (e, t, a) {
	        function r() {
	            for (var e = 0; e < s.length; e++) {
	                s[e].alpha <= 0 ? (t.body.removeChild(s[e].el), s.splice(e, 1)) : (s[e].y--, s[e].scale += .004, s[e].alpha -= .013, s[e].el.style.cssText = "left:" + s[e].x + "px;top:" + s[e].y + "px;opacity:" + s[e].alpha + ";transform:scale(" + s[e].scale + "," + s[e].scale + ") rotate(45deg);background:" + s[e].color + ";z-index:99999");
	            }
	            requestAnimationFrame(r)
	        }
	
	        function n() {
	            var t = "function" == typeof e.onclick && e.onclick;
	            e.onclick = function (e) {
	                t && t(),
	                    o(e)
	            }
	        }
	
	        function o(e) {
	            var a = t.createElement("div");
	            a.className = "heart",
	                s.push({
	                    el: a,
	                    x: e.clientX - 5,
	                    y: e.clientY - 5,
	                    scale: 1,
	                    alpha: 1,
	                    color: c()
	                }),
	                t.body.appendChild(a)
	        }
	
	        function i(e) {
	            var a = t.createElement("style");
	            a.type = "text/css";
	            try {
	                a.appendChild(t.createTextNode(e))
	            } catch (t) {
	                a.styleSheet.cssText = e
	            }
	            t.getElementsByTagName("head")[0].appendChild(a)
	        }
	
	        function c() {
	            return "rgb(" + ~~(255 * Math.random()) + "," + ~~(255 * Math.random()) + "," + ~~(255 * Math.random()) + ")"
	        }
	
	        var s = [];
	        e.requestAnimationFrame = e.requestAnimationFrame || e.webkitRequestAnimationFrame || e.mozRequestAnimationFrame || e.oRequestAnimationFrame || e.msRequestAnimationFrame ||
	            function (e) {
	                setTimeout(e, 1e3 / 60)
	            },
	            i(".heart{width: 10px;height: 10px;position: fixed;background: #f00;transform: rotate(45deg);-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);}.heart:after,.heart:before{content: '';width: inherit;height: inherit;background: inherit;border-radius: 50%;-webkit-border-radius: 50%;-moz-border-radius: 50%;position: fixed;}.heart:after{top: -5px;}.heart:before{left: -5px;}"),
	            n(),
	            r()
	    }(window, document);
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	function updateCoords(e) {
		pointerX = (e.clientX || e.touches[0].clientX) - canvasEl.getBoundingClientRect().left, pointerY = e.clientY || e.touches[
			0].clientY - canvasEl.getBoundingClientRect().top
	}
	
	function setParticuleDirection(e) {
		var t = anime.random(0, 360) * Math.PI / 180,
			a = anime.random(50, 180),
			n = [-1, 1][anime.random(0, 1)] * a;
		return {
			x: e.x + n * Math.cos(t),
			y: e.y + n * Math.sin(t)
		}
	}
	
	function createParticule(e, t) {
		var a = {};
		return a.x = e, a.y = t, a.color = colors[anime.random(0, colors.length - 1)], a.radius = anime.random(16, 32), a.endPos =
			setParticuleDirection(a), a.draw = function() {
				ctx.beginPath(), ctx.arc(a.x, a.y, a.radius, 0, 2 * Math.PI, !0), ctx.fillStyle = a.color, ctx.fill()
			}, a
	}
	
	function createCircle(e, t) {
		var a = {};
		return a.x = e, a.y = t, a.color = "#F00", a.radius = 0.1, a.alpha = 0.5, a.lineWidth = 6, a.draw = function() {
			ctx.globalAlpha = a.alpha, ctx.beginPath(), ctx.arc(a.x, a.y, a.radius, 0, 2 * Math.PI, !0), ctx.lineWidth = a.lineWidth,
				ctx.strokeStyle = a.color, ctx.stroke(), ctx.globalAlpha = 1
		}, a
	}
	
	function renderParticule(e) {
		for (var t = 0; t < e.animatables.length; t++) {
			e.animatables[t].target.draw()
		}
	}
	
	function animateParticules(e, t) {
		for (var a = createCircle(e, t), n = [], i = 0; i < numberOfParticules; i++) {
			n.push(createParticule(e, t))
		}
		anime.timeline().add({
			targets: n,
			x: function(e) {
				return e.endPos.x
			},
			y: function(e) {
				return e.endPos.y
			},
			radius: 0.1,
			duration: anime.random(1200, 1800),
			easing: "easeOutExpo",
			update: renderParticule
		}).add({
			targets: a,
			radius: anime.random(80, 160),
			lineWidth: 0,
			alpha: {
				value: 0,
				easing: "linear",
				duration: anime.random(600, 800)
			},
			duration: anime.random(1200, 1800),
			easing: "easeOutExpo",
			update: renderParticule,
			offset: 0
		})
	}
	
	function debounce(e, t) {
		var a;
		return function() {
			var n = this,
				i = arguments;
			clearTimeout(a), a = setTimeout(function() {
				e.apply(n, i)
			}, t)
		}
	}
	var canvasEl = document.querySelector(".fireworks");
	if (canvasEl) {
		var ctx = canvasEl.getContext("2d"),
			numberOfParticules = 30,
			pointerX = 0,
			pointerY = 0,
			tap = "mousedown",
			colors = ["#FF1461", "#18FF92", "#5A87FF", "#FBF38C"],
			setCanvasSize = debounce(function() {
				canvasEl.width = 2 * window.innerWidth, canvasEl.height = 2 * window.innerHeight, canvasEl.style.width = window.innerWidth +
					"px", canvasEl.style.height = window.innerHeight + "px", canvasEl.getContext("2d").scale(2, 2)
			}, 500),
			render = anime({
				duration: 1 / 0,
				update: function() {
					ctx.clearRect(0, 0, canvasEl.width, canvasEl.height)
				}
			});
		document.addEventListener(tap, function(e) {
			"sidebar" !== e.target.id && "toggle-sidebar" !== e.target.id && "A" !== e.target.nodeName && "IMG" !== e.target.nodeName &&
				(render.play(), updateCoords(e), animateParticules(pointerX, pointerY))
		}, !1), setCanvasSize(), window.addEventListener("resize", setCanvasSize, !1)
	}
	
	
	function updateCoords(e) {
		pointerX = (e.clientX || e.touches[0].clientX) - canvasEl.getBoundingClientRect().left, pointerY = e.clientY || e.touches[
			0].clientY - canvasEl.getBoundingClientRect().top
	}
	
	function setParticuleDirection(e) {
		var t = anime.random(0, 360) * Math.PI / 180,
			a = anime.random(50, 180),
			n = [-1, 1][anime.random(0, 1)] * a;
		return {
			x: e.x + n * Math.cos(t),
			y: e.y + n * Math.sin(t)
		}
	}
	
	function createParticule(e, t) {
		var a = {};
		return a.x = e, a.y = t, a.color = colors[anime.random(0, colors.length - 1)], a.radius = anime.random(16, 32), a.endPos =
			setParticuleDirection(a), a.draw = function() {
				ctx.beginPath(), ctx.arc(a.x, a.y, a.radius, 0, 2 * Math.PI, !0), ctx.fillStyle = a.color, ctx.fill()
			}, a
	}
	
	function createCircle(e, t) {
		var a = {};
		return a.x = e, a.y = t, a.color = "#F00", a.radius = 0.1, a.alpha = 0.5, a.lineWidth = 6, a.draw = function() {
			ctx.globalAlpha = a.alpha, ctx.beginPath(), ctx.arc(a.x, a.y, a.radius, 0, 2 * Math.PI, !0), ctx.lineWidth = a.lineWidth,
				ctx.strokeStyle = a.color, ctx.stroke(), ctx.globalAlpha = 1
		}, a
	}
	
	function renderParticule(e) {
		for (var t = 0; t < e.animatables.length; t++) {
			e.animatables[t].target.draw()
		}
	}
	
	function animateParticules(e, t) {
		for (var a = createCircle(e, t), n = [], i = 0; i < numberOfParticules; i++) {
			n.push(createParticule(e, t))
		}
		anime.timeline().add({
			targets: n,
			x: function(e) {
				return e.endPos.x
			},
			y: function(e) {
				return e.endPos.y
			},
			radius: 0.1,
			duration: anime.random(1200, 1800),
			easing: "easeOutExpo",
			update: renderParticule
		}).add({
			targets: a,
			radius: anime.random(80, 160),
			lineWidth: 0,
			alpha: {
				value: 0,
				easing: "linear",
				duration: anime.random(600, 800)
			},
			duration: anime.random(1200, 1800),
			easing: "easeOutExpo",
			update: renderParticule,
			offset: 0
		})
	}
	
	function debounce(e, t) {
		var a;
		return function() {
			var n = this,
				i = arguments;
			clearTimeout(a), a = setTimeout(function() {
				e.apply(n, i)
			}, t)
		}
	}
	var canvasEl = document.querySelector(".fireworks");
	if (canvasEl) {
		var ctx = canvasEl.getContext("2d"),
			numberOfParticules = 30,
			pointerX = 0,
			pointerY = 0,
			tap = "mousedown",
			colors = ["#FF1461", "#18FF92", "#5A87FF", "#FBF38C"],
			setCanvasSize = debounce(function() {
				canvasEl.width = 2 * window.innerWidth, canvasEl.height = 2 * window.innerHeight, canvasEl.style.width = window.innerWidth +
					"px", canvasEl.style.height = window.innerHeight + "px", canvasEl.getContext("2d").scale(2, 2)
			}, 500),
			render = anime({
				duration: 1 / 0,
				update: function() {
					ctx.clearRect(0, 0, canvasEl.width, canvasEl.height)
				}
			});
		document.addEventListener(tap, function(e) {
			"sidebar" !== e.target.id && "toggle-sidebar" !== e.target.id && "A" !== e.target.nodeName && "IMG" !== e.target.nodeName &&
				(render.play(), updateCoords(e), animateParticules(pointerX, pointerY))
		}, !1), setCanvasSize(), window.addEventListener("resize", setCanvasSize, !1)
	};
	
	</script>
	
</script>


<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
<script type="text/javascript">
	var gitalk = new Gitalk({
		clientID: '{{site.gitalk.clientID}}',
		clientSecret: '{{site.gitalk.clientSecret}}',
		repo: '{{site.gitalk.repo}}',
		owner: '{{site.gitalk.owner}}',
		admin: ['{{site.gitalk.admin}}'],
		distractionFreeMode: {
			{
				site.gitalk.distractionFreeMode
			}
		},
		id: 'about',
	});
	gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

<!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
	<div id="disqus_thread" class="disqus-thread">
	</div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript" src="\js\FunnyTitle.js"></script>
<script type="text/javascript">
	/* * * CONFIGURATION VARIABLES * * */
	var disqus_shortname = "{{site.disqus.username}}";
	var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
	var disqus_url = "{{site.url}}{{page.url}}";

	(function() {
		var dsq = document.createElement('script');
		dsq.type = 'text/javascript';
		dsq.async = true;
		dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
		(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	})();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
<canvas id="canvas" style="width:60%;">当前浏览器不支持canvas，请更换浏览器后再试</canvas>
</div>
<script>
(function(){

   var digit=
    [
        [
            [0,0,1,1,1,0,0],
            [0,1,1,0,1,1,0],
            [1,1,0,0,0,1,1],
            [1,1,0,0,0,1,1],
            [1,1,0,0,0,1,1],
            [1,1,0,0,0,1,1],
            [1,1,0,0,0,1,1],
            [1,1,0,0,0,1,1],
            [0,1,1,0,1,1,0],
            [0,0,1,1,1,0,0]
        ],//0
        [
            [0,0,0,1,1,0,0],
            [0,1,1,1,1,0,0],
            [0,0,0,1,1,0,0],
            [0,0,0,1,1,0,0],
            [0,0,0,1,1,0,0],
            [0,0,0,1,1,0,0],
            [0,0,0,1,1,0,0],
            [0,0,0,1,1,0,0],
            [0,0,0,1,1,0,0],
            [1,1,1,1,1,1,1]
        ],//1
        [
            [0,1,1,1,1,1,0],
            [1,1,0,0,0,1,1],
            [0,0,0,0,0,1,1],
            [0,0,0,0,1,1,0],
            [0,0,0,1,1,0,0],
            [0,0,1,1,0,0,0],
            [0,1,1,0,0,0,0],
            [1,1,0,0,0,0,0],
            [1,1,0,0,0,1,1],
            [1,1,1,1,1,1,1]
        ],//2
        [
            [1,1,1,1,1,1,1],
            [0,0,0,0,0,1,1],
            [0,0,0,0,1,1,0],
            [0,0,0,1,1,0,0],
            [0,0,1,1,1,0,0],
            [0,0,0,0,1,1,0],
            [0,0,0,0,0,1,1],
            [0,0,0,0,0,1,1],
            [1,1,0,0,0,1,1],
            [0,1,1,1,1,1,0]
        ],//3
        [
            [0,0,0,0,1,1,0],
            [0,0,0,1,1,1,0],
            [0,0,1,1,1,1,0],
            [0,1,1,0,1,1,0],
            [1,1,0,0,1,1,0],
            [1,1,1,1,1,1,1],
            [0,0,0,0,1,1,0],
            [0,0,0,0,1,1,0],
            [0,0,0,0,1,1,0],
            [0,0,0,1,1,1,1]
        ],//4
        [
            [1,1,1,1,1,1,1],
            [1,1,0,0,0,0,0],
            [1,1,0,0,0,0,0],
            [1,1,1,1,1,1,0],
            [0,0,0,0,0,1,1],
            [0,0,0,0,0,1,1],
            [0,0,0,0,0,1,1],
            [0,0,0,0,0,1,1],
            [1,1,0,0,0,1,1],
            [0,1,1,1,1,1,0]
        ],//5
        [
            [0,0,0,0,1,1,0],
            [0,0,1,1,0,0,0],
            [0,1,1,0,0,0,0],
            [1,1,0,0,0,0,0],
            [1,1,0,1,1,1,0],
            [1,1,0,0,0,1,1],
            [1,1,0,0,0,1,1],
            [1,1,0,0,0,1,1],
            [1,1,0,0,0,1,1],
            [0,1,1,1,1,1,0]
        ],//6
        [
            [1,1,1,1,1,1,1],
            [1,1,0,0,0,1,1],
            [0,0,0,0,1,1,0],
            [0,0,0,0,1,1,0],
            [0,0,0,1,1,0,0],
            [0,0,0,1,1,0,0],
            [0,0,1,1,0,0,0],
            [0,0,1,1,0,0,0],
            [0,0,1,1,0,0,0],
            [0,0,1,1,0,0,0]
        ],//7
        [
            [0,1,1,1,1,1,0],
            [1,1,0,0,0,1,1],
            [1,1,0,0,0,1,1],
            [1,1,0,0,0,1,1],
            [0,1,1,1,1,1,0],
            [1,1,0,0,0,1,1],
            [1,1,0,0,0,1,1],
            [1,1,0,0,0,1,1],
            [1,1,0,0,0,1,1],
            [0,1,1,1,1,1,0]
        ],//8
        [
            [0,1,1,1,1,1,0],
            [1,1,0,0,0,1,1],
            [1,1,0,0,0,1,1],
            [1,1,0,0,0,1,1],
            [0,1,1,1,0,1,1],
            [0,0,0,0,0,1,1],
            [0,0,0,0,0,1,1],
            [0,0,0,0,1,1,0],
            [0,0,0,1,1,0,0],
            [0,1,1,0,0,0,0]
        ],//9
        [
            [0,0,0,0,0,0,0],
            [0,0,1,1,1,0,0],
            [0,0,1,1,1,0,0],
            [0,0,1,1,1,0,0],
            [0,0,0,0,0,0,0],
            [0,0,0,0,0,0,0],
            [0,0,1,1,1,0,0],
            [0,0,1,1,1,0,0],
            [0,0,1,1,1,0,0],
            [0,0,0,0,0,0,0]
        ]//:
    ];

var canvas = document.getElementById('canvas');

if(canvas.getContext){
    var cxt = canvas.getContext('2d');
    //声明canvas的宽高
    var H = 100,W = 700;
    canvas.height = H;
    canvas.width = W;
    cxt.fillStyle = '#f00';
    cxt.fillRect(10,10,50,50);

    //存储时间数据
    var data = [];
    //存储运动的小球
    var balls = [];
    //设置粒子半径
    var R = canvas.height/20-1;
    (function(){
        var temp = /(\d)(\d):(\d)(\d):(\d)(\d)/.exec(new Date());
        //存储时间数字，由十位小时、个位小时、冒号、十位分钟、个位分钟、冒号、十位秒钟、个位秒钟这7个数字组成
        data.push(temp[1],temp[2],10,temp[3],temp[4],10,temp[5],temp[6]);
    })();

    /*生成点阵数字*/
    function renderDigit(index,num){
        for(var i = 0; i < digit[num].length; i++){
            for(var j = 0; j < digit[num][i].length; j++){
                if(digit[num][i][j] == 1){
                    cxt.beginPath();
                    cxt.arc(14*(R+2)*index + j*2*(R+1)+(R+1),i*2*(R+1)+(R+1),R,0,2*Math.PI);
                    cxt.closePath();
                    cxt.fill();
                }
            }
        }
    }

    /*更新时钟*/
    function updateDigitTime(){
        var changeNumArray = [];
        var temp = /(\d)(\d):(\d)(\d):(\d)(\d)/.exec(new Date());
        var NewData = [];
        NewData.push(temp[1],temp[2],10,temp[3],temp[4],10,temp[5],temp[6]);
        for(var i = data.length-1; i >=0 ; i--){
            //时间发生变化
            if(NewData[i] !== data[i]){
                //将变化的数字值和在data数组中的索引存储在changeNumArray数组中
                changeNumArray.push(i+'_'+(Number(data[i])+1)%10);
            }
        }
        //增加小球
        for(var i = 0; i< changeNumArray.length; i++){
            addBalls.apply(this,changeNumArray[i].split('_'));
        }
        data = NewData.concat();
    }

    /*更新小球状态*/
    function updateBalls(){
        for(var i = 0; i < balls.length; i++){
            balls[i].stepY += balls[i].disY;
            balls[i].x += balls[i].stepX;
            balls[i].y += balls[i].stepY;
            if(balls[i].x > W + R || balls[i].y > H + R){
                balls.splice(i,1);
                i--;
            }
        }
    }

    /*增加要运动的小球*/
    function addBalls(index,num){
        var numArray = [1,2,3];
        var colorArray =  ["#3BE","#09C","#A6C","#93C","#9C0","#690","#FB3","#F80","#F44","#C00"];
        for(var i = 0; i < digit[num].length; i++){
            for(var j = 0; j < digit[num][i].length; j++){
                if(digit[num][i][j] == 1){
                    var ball = {
                        x:14*(R+2)*index + j*2*(R+1)+(R+1),
                        y:i*2*(R+1)+(R+1),
                        stepX:Math.floor(Math.random() * 4 -2),
                        stepY:-2*numArray[Math.floor(Math.random()*numArray.length)],
                        color:colorArray[Math.floor(Math.random()*colorArray.length)],
                        disY:1
                    };
                    balls.push(ball);
                }
            }
        }
    }

    /*渲染*/
    function render(){
        //重置画布宽度，达到清空画布的效果
        canvas.height = 100;
        //渲染时钟
        for(var i = 0; i < data.length; i++){
            renderDigit(i,data[i]);
        }
        //渲染小球
        for(var i = 0; i < balls.length; i++){
            cxt.beginPath();
            cxt.arc(balls[i].x,balls[i].y,R,0,2*Math.PI);
            cxt.fillStyle = balls[i].color;
            cxt.closePath();
            cxt.fill();
        }
    }

    clearInterval(oTimer);
    var oTimer = setInterval(function(){
        //更新时钟
        updateDigitTime();
        //更新小球状态
        updateBalls();
        //渲染
        render();
    },50);
}

})();
</script>
   </div>
  </aside>
  <div id="sidebar-dimmer"></div>


      </div>
    </main>