<!DOCTYPE html>
<html lang="en">
<script src="js/love mouse.js">
</script>
<script type="text/javascript" src="/js/fireworks.js"></script>
<script src="js/snow3.js">
</script>
{% include head.html %}

<!-- hack iOS CSS :active style -->
<body ontouchstart="">

    {% include nav.html %}
    {% include search.html %}

    {{ content }}

    {% include footer.html %}


<!-- Image to hack wechat -->
<img src="/img/icon_wechat.png" width="0" height="0" />
<!-- Migrate from head to bottom, no longer block render and still work -->
<script src="js/love mouse.js">
</script>
<script type="text/javascript" src="/js/fireworks.js"></script>
<script src="js/snow3.js">
</script>
</body>

</html>
