---
layout: default
---
<!-- Page Header -->
<!--<script src="js/love mouse.js"> 
</script>-->
<script type="text/javascript">
	"use strict";
	
	function updateCoords(e) {
		pointerX = (e.clientX || e.touches[0].clientX) - canvasEl.getBoundingClientRect().left, pointerY = e.clientY || e.touches[
			0].clientY - canvasEl.getBoundingClientRect().top
	}
	
	function setParticuleDirection(e) {
		var t = anime.random(0, 360) * Math.PI / 180,
			a = anime.random(50, 180),
			n = [-1, 1][anime.random(0, 1)] * a;
		return {
			x: e.x + n * Math.cos(t),
			y: e.y + n * Math.sin(t)
		}
	}
	
	function createParticule(e, t) {
		var a = {};
		return a.x = e, a.y = t, a.color = colors[anime.random(0, colors.length - 1)], a.radius = anime.random(16, 32), a.endPos =
			setParticuleDirection(a), a.draw = function() {
				ctx.beginPath(), ctx.arc(a.x, a.y, a.radius, 0, 2 * Math.PI, !0), ctx.fillStyle = a.color, ctx.fill()
			}, a
	}
	
	function createCircle(e, t) {
		var a = {};
		return a.x = e, a.y = t, a.color = "#F00", a.radius = 0.1, a.alpha = 0.5, a.lineWidth = 6, a.draw = function() {
			ctx.globalAlpha = a.alpha, ctx.beginPath(), ctx.arc(a.x, a.y, a.radius, 0, 2 * Math.PI, !0), ctx.lineWidth = a.lineWidth,
				ctx.strokeStyle = a.color, ctx.stroke(), ctx.globalAlpha = 1
		}, a
	}
	
	function renderParticule(e) {
		for (var t = 0; t < e.animatables.length; t++) {
			e.animatables[t].target.draw()
		}
	}
	
	function animateParticules(e, t) {
		for (var a = createCircle(e, t), n = [], i = 0; i < numberOfParticules; i++) {
			n.push(createParticule(e, t))
		}
		anime.timeline().add({
			targets: n,
			x: function(e) {
				return e.endPos.x
			},
			y: function(e) {
				return e.endPos.y
			},
			radius: 0.1,
			duration: anime.random(1200, 1800),
			easing: "easeOutExpo",
			update: renderParticule
		}).add({
			targets: a,
			radius: anime.random(80, 160),
			lineWidth: 0,
			alpha: {
				value: 0,
				easing: "linear",
				duration: anime.random(600, 800)
			},
			duration: anime.random(1200, 1800),
			easing: "easeOutExpo",
			update: renderParticule,
			offset: 0
		})
	}
	
	function debounce(e, t) {
		var a;
		return function() {
			var n = this,
				i = arguments;
			clearTimeout(a), a = setTimeout(function() {
				e.apply(n, i)
			}, t)
		}
	}
	var canvasEl = document.querySelector(".fireworks");
	if (canvasEl) {
		var ctx = canvasEl.getContext("2d"),
			numberOfParticules = 30,
			pointerX = 0,
			pointerY = 0,
			tap = "mousedown",
			colors = ["#FF1461", "#18FF92", "#5A87FF", "#FBF38C"],
			setCanvasSize = debounce(function() {
				canvasEl.width = 2 * window.innerWidth, canvasEl.height = 2 * window.innerHeight, canvasEl.style.width = window.innerWidth +
					"px", canvasEl.style.height = window.innerHeight + "px", canvasEl.getContext("2d").scale(2, 2)
			}, 500),
			render = anime({
				duration: 1 / 0,
				update: function() {
					ctx.clearRect(0, 0, canvasEl.width, canvasEl.height)
				}
			});
		document.addEventListener(tap, function(e) {
			"sidebar" !== e.target.id && "toggle-sidebar" !== e.target.id && "A" !== e.target.nodeName && "IMG" !== e.target.nodeName &&
				(render.play(), updateCoords(e), animateParticules(pointerX, pointerY))
		}, !1), setCanvasSize(), window.addEventListener("resize", setCanvasSize, !1)
	}
	"use strict";
	
	function updateCoords(e) {
		pointerX = (e.clientX || e.touches[0].clientX) - canvasEl.getBoundingClientRect().left, pointerY = e.clientY || e.touches[
			0].clientY - canvasEl.getBoundingClientRect().top
	}
	
	function setParticuleDirection(e) {
		var t = anime.random(0, 360) * Math.PI / 180,
			a = anime.random(50, 180),
			n = [-1, 1][anime.random(0, 1)] * a;
		return {
			x: e.x + n * Math.cos(t),
			y: e.y + n * Math.sin(t)
		}
	}
	
	function createParticule(e, t) {
		var a = {};
		return a.x = e, a.y = t, a.color = colors[anime.random(0, colors.length - 1)], a.radius = anime.random(16, 32), a.endPos =
			setParticuleDirection(a), a.draw = function() {
				ctx.beginPath(), ctx.arc(a.x, a.y, a.radius, 0, 2 * Math.PI, !0), ctx.fillStyle = a.color, ctx.fill()
			}, a
	}
	
	function createCircle(e, t) {
		var a = {};
		return a.x = e, a.y = t, a.color = "#F00", a.radius = 0.1, a.alpha = 0.5, a.lineWidth = 6, a.draw = function() {
			ctx.globalAlpha = a.alpha, ctx.beginPath(), ctx.arc(a.x, a.y, a.radius, 0, 2 * Math.PI, !0), ctx.lineWidth = a.lineWidth,
				ctx.strokeStyle = a.color, ctx.stroke(), ctx.globalAlpha = 1
		}, a
	}
	
	function renderParticule(e) {
		for (var t = 0; t < e.animatables.length; t++) {
			e.animatables[t].target.draw()
		}
	}
	
	function animateParticules(e, t) {
		for (var a = createCircle(e, t), n = [], i = 0; i < numberOfParticules; i++) {
			n.push(createParticule(e, t))
		}
		anime.timeline().add({
			targets: n,
			x: function(e) {
				return e.endPos.x
			},
			y: function(e) {
				return e.endPos.y
			},
			radius: 0.1,
			duration: anime.random(1200, 1800),
			easing: "easeOutExpo",
			update: renderParticule
		}).add({
			targets: a,
			radius: anime.random(80, 160),
			lineWidth: 0,
			alpha: {
				value: 0,
				easing: "linear",
				duration: anime.random(600, 800)
			},
			duration: anime.random(1200, 1800),
			easing: "easeOutExpo",
			update: renderParticule,
			offset: 0
		})
	}
	
	function debounce(e, t) {
		var a;
		return function() {
			var n = this,
				i = arguments;
			clearTimeout(a), a = setTimeout(function() {
				e.apply(n, i)
			}, t)
		}
	}
	var canvasEl = document.querySelector(".fireworks");
	if (canvasEl) {
		var ctx = canvasEl.getContext("2d"),
			numberOfParticules = 30,
			pointerX = 0,
			pointerY = 0,
			tap = "mousedown",
			colors = ["#FF1461", "#18FF92", "#5A87FF", "#FBF38C"],
			setCanvasSize = debounce(function() {
				canvasEl.width = 2 * window.innerWidth, canvasEl.height = 2 * window.innerHeight, canvasEl.style.width = window.innerWidth +
					"px", canvasEl.style.height = window.innerHeight + "px", canvasEl.getContext("2d").scale(2, 2)
			}, 500),
			render = anime({
				duration: 1 / 0,
				update: function() {
					ctx.clearRect(0, 0, canvasEl.width, canvasEl.height)
				}
			});
		document.addEventListener(tap, function(e) {
			"sidebar" !== e.target.id && "toggle-sidebar" !== e.target.id && "A" !== e.target.nodeName && "IMG" !== e.target.nodeName &&
				(render.play(), updateCoords(e), animateParticules(pointerX, pointerY))
		}, !1), setCanvasSize(), window.addEventListener("resize", setCanvasSize, !1)
	};
	
</script>
<script src="js/snow3.js">
</script>
<script type="text/javascript">
	console.log('%c炫彩鼠标插件%chttps://gitee.com/HoeXhe/HoerMouse Hoe主页www.hoehub.com
	','line-height:28px;padding:4px;background:#3f51b5;color:#fff;font-size:14px;','padding:4px; color:#673ab7');
	</script>
	<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 ">
					<div class="site-heading">
						<h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
						<!--<hr class="small">-->
						<span class="subheading">{{ page.description }}</span>
					</div>
				</div>
			</div>
		</div>
	</header>

	<!-- Main Content -->
	<div class="container">
		<div class="row">
			{% if site.sidebar == false %}
			<!-- NO SIDEBAR -->
			<!-- PostList Container -->
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 postlist-container">
				{{ content }}


			</div>
			<!-- Sidebar Container -->
			<div class="
                col-lg-8 col-lg-offset-2
                col-md-10 col-md-offset-1
                sidebar-container">

				<!-- Featured Tags -->
				{% if site.featured-tags %}
				<section>
					<!-- no hr -->
					<h5><a href="{{'/tags/' | prepend: site.baseurl }}">FEATURED TAGS</a></h5>
					<div class="tags">
						{% for tag in site.tags %}
						{% if tag[1].size > {{site.featured-condition-size}} %}
						<a href="{{ site.baseurl }}/tags/#{{ tag[0] }}" title="{{ tag[0] }}" rel="{{ tag[1].size }}">
							{{ tag[0] }}
						</a>
						{% endif %}
						{% endfor %}
					</div>
				</section>
				{% endif %}

				<!-- Friends Blog -->
				{% if site.friends %}
				<hr>
				<h5>FRIENDS</h5>
				<ul class="list-inline">
					{% for friend in site.friends %}
					<li>
						</p><a href="{{friend.href}}">{{friend.title}}</a></li>
					{% endfor %}
				</ul>
				{% endif %}
			</div>
			{% else %}

			<!-- USE SIDEBAR -->
			<!-- PostList Container -->
			<div class="
                col-lg-8 col-lg-offset-1
                col-md-8 col-md-offset-1
                col-sm-12
                col-xs-12
                postlist-container
            ">
				{{ content }}
			</div>
			<!--sidebar-->
			<!-- Sidebar Container -->
			<div class="
                col-lg-3 col-lg-offset-0
                col-md-3 col-md-offset-0
                col-sm-12
                col-xs-12
                sidebar-container
            ">
				<!-- Featured Tags -->
				{% if site.featured-tags %}
				<section>
					<hr class="hidden-sm hidden-xs">
					<h5><a href="{{'/tags/' | prepend: site.baseurl }}">FEATURED TAGS</a></h5>
					<div class="tags">
						{% for tag in site.tags %}
						{% if tag[1].size > {{site.featured-condition-size}} %}
						<a href="{{ site.baseurl }}/tags/#{{ tag[0] }}" title="{{ tag[0] }}" rel="{{ tag[1].size }}">
							{{ tag[0] }}
						</a>
						{% endif %}
						{% endfor %}
					</div>
				</section>
				{% endif %}

				<!-- Short About -->
				<section class="visible-md visible-lg">
					<hr>
					<h5><a href="{{'/about/' | prepend: site.baseurl }}">ABOUT ME</a></h5>
					<div class="short-about">
						{% if site.sidebar-avatar %}
						<a href="{{ site.baseurl }}/about">
							<img src="{{site.sidebar-avatar}}" />
						</a>
						{% endif %}
						{% if site.sidebar-about-description %}
						<p>{{site.sidebar-about-description}}</p>
						{% endif %}
						<!-- SNS Link -->
						<ul class="list-inline">
							{% if site.RSS %}
							<li>
								<a href="{{ "/feed.xml" | prepend: site.baseurl }}">
									<span class="fa-stack fa-lg">
										<i class="fa fa-circle fa-stack-2x"></i>
										<i class="fa fa-rss fa-stack-1x fa-inverse"></i>
									</span>
								</a>
							</li>
							{% endif %}
							<!-- add jianshu add target = "_blank" to <a> by BY -->
							{% if site.jianshu_username %}
							<li>
								<a target="_blank" href="https://mp.weixin.qq.com/profile?src=3&timestamp=1596789111&ver=1&signature=24lDXdNhHftLVYpWTBSI0A8o5VpAlIZq3ZyRoa-qm*8Wedg6mtSzyjc98HYxkGh9hnzpi2my40CASE-m51hcvQ==">
									<span class="fa-stack fa-lg">
										<i class="fa fa-circle fa-stack-2x"></i>
										<i class="fa  fa-stack-1x fa-inverse">扯</i>
									</span>
								</a>
							</li>
							{% endif %}
							{% if site.twitter_username %}
							<li>
								<a href="https://twitter.com/{{ site.twitter_username }}">
									<span class="fa-stack fa-lg">
										<i class="fa fa-circle fa-stack-2x"></i>
										<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
									</span>
								</a>
							</li>
							{% endif %}
							{% if site.zhihu_username %}
							<li>
								<a target="_blank" href="https://www.zhihu.com/people/{{ site.zhihu_username }}">
									<span class="fa-stack fa-lg">
										<i class="fa fa-circle fa-stack-2x"></i>
										<i class="fa  fa-stack-1x fa-inverse">知</i>
									</span>
								</a>
							</li>
							{% endif %}
							{% if site.weibo_username %}
							<li>
								<a target="_blank" href="http://weibo.com/{{ site.weibo_username }}">
									<span class="fa-stack fa-lg">
										<i class="fa fa-circle fa-stack-2x"></i>
										<i class="fa fa-weibo fa-stack-1x fa-inverse"></i>
									</span>
								</a>
							</li>
							{% endif %}
							{% if site.facebook_username %}
							<li>
								<a target="_blank" href="https://www.facebook.com/{{ site.facebook_username }}">
									<span class="fa-stack fa-lg">
										<i class="fa fa-circle fa-stack-2x"></i>
										<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
									</span>
								</a>
							</li>
							{% endif %}
							{% if site.github_username %}
							<li>
								<a target="_blank" href="https://github.com/{{ site.github_username }}">
									<span class="fa-stack fa-lg">
										<i class="fa fa-circle fa-stack-2x"></i>
										<i class="fa fa-github fa-stack-1x fa-inverse"></i>
									</span>
								</a>
							</li>
							{% endif %}

						</ul>
						{% if site.email %}
						<p>✉️ {{site.email}}</p>
						{% endif %}
					</div>
				</section>
				<!-- Friends Blog -->
				{% if site.friends %}
				<hr>
				<h5>FRIENDS</h5>
				<ol class="list-inline">
					{% for friend in site.friends %}
					<h3>
						<li><a href="{{friend.href}}">{{friend.title}}</a></li>
					</h3>
					{% endfor %}
				</ol>
				{% endif %}
			</div>
			{% endif %}
		</div>
	</div>
