---
layout: default
---
<!-- Page Header -->
		
<!--
<script type="text/javascript">
	console.log('%c炫彩鼠标插件%chttps://gitee.com/HoeXhe/HoerMouse Hoe主页www.hoehub.com
	','line-height:28px;padding:4px;background:#3f51b5;color:#fff;font-size:14px;','padding:4px; color:#673ab7');
	</script>-->
	<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 ">
					<div class="site-heading">
						<h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
						<!--<hr class="small">-->
						<span class="subheading">{{ page.description }}</span>
					</div>
				</div>
			</div>
		</div>
	</header>
<script>
		
		
		    // 鼠标点击爱心特效
		!function (e, t, a) {
		        function r() {
		            for (var e = 0; e < s.length; e++) {
		                s[e].alpha <= 0 ? (t.body.removeChild(s[e].el), s.splice(e, 1)) : (s[e].y--, s[e].scale += .004, s[e].alpha -= .013, s[e].el.style.cssText = "left:" + s[e].x + "px;top:" + s[e].y + "px;opacity:" + s[e].alpha + ";transform:scale(" + s[e].scale + "," + s[e].scale + ") rotate(45deg);background:" + s[e].color + ";z-index:99999");
		            }
		            requestAnimationFrame(r)
		        }
		
		        function n() {
		            var t = "function" == typeof e.onclick && e.onclick;
		            e.onclick = function (e) {
		                t && t(),
		                    o(e)
		            }
		        }
		
		        function o(e) {
		            var a = t.createElement("div");
		            a.className = "heart",
		                s.push({
		                    el: a,
		                    x: e.clientX - 5,
		                    y: e.clientY - 5,
		                    scale: 1,
		                    alpha: 1,
		                    color: c()
		                }),
		                t.body.appendChild(a)
		        }
		
		        function i(e) {
		            var a = t.createElement("style");
		            a.type = "text/css";
		            try {
		                a.appendChild(t.createTextNode(e))
		            } catch (t) {
		                a.styleSheet.cssText = e
		            }
		            t.getElementsByTagName("head")[0].appendChild(a)
		        }
		
		        function c() {
		            return "rgb(" + ~~(255 * Math.random()) + "," + ~~(255 * Math.random()) + "," + ~~(255 * Math.random()) + ")"
		        }
		
		        var s = [];
		        e.requestAnimationFrame = e.requestAnimationFrame || e.webkitRequestAnimationFrame || e.mozRequestAnimationFrame || e.oRequestAnimationFrame || e.msRequestAnimationFrame ||
		            function (e) {
		                setTimeout(e, 1e3 / 60)
		            },
		            i(".heart{width: 10px;height: 10px;position: fixed;background: #f00;transform: rotate(45deg);-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);}.heart:after,.heart:before{content: '';width: inherit;height: inherit;background: inherit;border-radius: 50%;-webkit-border-radius: 50%;-moz-border-radius: 50%;position: fixed;}.heart:after{top: -5px;}.heart:before{left: -5px;}"),
		            n(),
		            r()
		    }(window, document);
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		function updateCoords(e) {
			pointerX = (e.clientX || e.touches[0].clientX) - canvasEl.getBoundingClientRect().left, pointerY = e.clientY || e.touches[
				0].clientY - canvasEl.getBoundingClientRect().top
		}
		
		function setParticuleDirection(e) {
			var t = anime.random(0, 360) * Math.PI / 180,
				a = anime.random(50, 180),
				n = [-1, 1][anime.random(0, 1)] * a;
			return {
				x: e.x + n * Math.cos(t),
				y: e.y + n * Math.sin(t)
			}
		}
		
		function createParticule(e, t) {
			var a = {};
			return a.x = e, a.y = t, a.color = colors[anime.random(0, colors.length - 1)], a.radius = anime.random(16, 32), a.endPos =
				setParticuleDirection(a), a.draw = function() {
					ctx.beginPath(), ctx.arc(a.x, a.y, a.radius, 0, 2 * Math.PI, !0), ctx.fillStyle = a.color, ctx.fill()
				}, a
		}
		
		function createCircle(e, t) {
			var a = {};
			return a.x = e, a.y = t, a.color = "#F00", a.radius = 0.1, a.alpha = 0.5, a.lineWidth = 6, a.draw = function() {
				ctx.globalAlpha = a.alpha, ctx.beginPath(), ctx.arc(a.x, a.y, a.radius, 0, 2 * Math.PI, !0), ctx.lineWidth = a.lineWidth,
					ctx.strokeStyle = a.color, ctx.stroke(), ctx.globalAlpha = 1
			}, a
		}
		
		function renderParticule(e) {
			for (var t = 0; t < e.animatables.length; t++) {
				e.animatables[t].target.draw()
			}
		}
		
		function animateParticules(e, t) {
			for (var a = createCircle(e, t), n = [], i = 0; i < numberOfParticules; i++) {
				n.push(createParticule(e, t))
			}
			anime.timeline().add({
				targets: n,
				x: function(e) {
					return e.endPos.x
				},
				y: function(e) {
					return e.endPos.y
				},
				radius: 0.1,
				duration: anime.random(1200, 1800),
				easing: "easeOutExpo",
				update: renderParticule
			}).add({
				targets: a,
				radius: anime.random(80, 160),
				lineWidth: 0,
				alpha: {
					value: 0,
					easing: "linear",
					duration: anime.random(600, 800)
				},
				duration: anime.random(1200, 1800),
				easing: "easeOutExpo",
				update: renderParticule,
				offset: 0
			})
		}
		
		function debounce(e, t) {
			var a;
			return function() {
				var n = this,
					i = arguments;
				clearTimeout(a), a = setTimeout(function() {
					e.apply(n, i)
				}, t)
			}
		}
		var canvasEl = document.querySelector(".fireworks");
		if (canvasEl) {
			var ctx = canvasEl.getContext("2d"),
				numberOfParticules = 30,
				pointerX = 0,
				pointerY = 0,
				tap = "mousedown",
				colors = ["#FF1461", "#18FF92", "#5A87FF", "#FBF38C"],
				setCanvasSize = debounce(function() {
					canvasEl.width = 2 * window.innerWidth, canvasEl.height = 2 * window.innerHeight, canvasEl.style.width = window.innerWidth +
						"px", canvasEl.style.height = window.innerHeight + "px", canvasEl.getContext("2d").scale(2, 2)
				}, 500),
				render = anime({
					duration: 1 / 0,
					update: function() {
						ctx.clearRect(0, 0, canvasEl.width, canvasEl.height)
					}
				});
			document.addEventListener(tap, function(e) {
				"sidebar" !== e.target.id && "toggle-sidebar" !== e.target.id && "A" !== e.target.nodeName && "IMG" !== e.target.nodeName &&
					(render.play(), updateCoords(e), animateParticules(pointerX, pointerY))
			}, !1), setCanvasSize(), window.addEventListener("resize", setCanvasSize, !1)
		}
		
		
		function updateCoords(e) {
			pointerX = (e.clientX || e.touches[0].clientX) - canvasEl.getBoundingClientRect().left, pointerY = e.clientY || e.touches[
				0].clientY - canvasEl.getBoundingClientRect().top
		}
		
		function setParticuleDirection(e) {
			var t = anime.random(0, 360) * Math.PI / 180,
				a = anime.random(50, 180),
				n = [-1, 1][anime.random(0, 1)] * a;
			return {
				x: e.x + n * Math.cos(t),
				y: e.y + n * Math.sin(t)
			}
		}
		
		function createParticule(e, t) {
			var a = {};
			return a.x = e, a.y = t, a.color = colors[anime.random(0, colors.length - 1)], a.radius = anime.random(16, 32), a.endPos =
				setParticuleDirection(a), a.draw = function() {
					ctx.beginPath(), ctx.arc(a.x, a.y, a.radius, 0, 2 * Math.PI, !0), ctx.fillStyle = a.color, ctx.fill()
				}, a
		}
		
		function createCircle(e, t) {
			var a = {};
			return a.x = e, a.y = t, a.color = "#F00", a.radius = 0.1, a.alpha = 0.5, a.lineWidth = 6, a.draw = function() {
				ctx.globalAlpha = a.alpha, ctx.beginPath(), ctx.arc(a.x, a.y, a.radius, 0, 2 * Math.PI, !0), ctx.lineWidth = a.lineWidth,
					ctx.strokeStyle = a.color, ctx.stroke(), ctx.globalAlpha = 1
			}, a
		}
		
		function renderParticule(e) {
			for (var t = 0; t < e.animatables.length; t++) {
				e.animatables[t].target.draw()
			}
		}
		
		function animateParticules(e, t) {
			for (var a = createCircle(e, t), n = [], i = 0; i < numberOfParticules; i++) {
				n.push(createParticule(e, t))
			}
			anime.timeline().add({
				targets: n,
				x: function(e) {
					return e.endPos.x
				},
				y: function(e) {
					return e.endPos.y
				},
				radius: 0.1,
				duration: anime.random(1200, 1800),
				easing: "easeOutExpo",
				update: renderParticule
			}).add({
				targets: a,
				radius: anime.random(80, 160),
				lineWidth: 0,
				alpha: {
					value: 0,
					easing: "linear",
					duration: anime.random(600, 800)
				},
				duration: anime.random(1200, 1800),
				easing: "easeOutExpo",
				update: renderParticule,
				offset: 0
			})
		}
		
		function debounce(e, t) {
			var a;
			return function() {
				var n = this,
					i = arguments;
				clearTimeout(a), a = setTimeout(function() {
					e.apply(n, i)
				}, t)
			}
		}
		var canvasEl = document.querySelector(".fireworks");
		if (canvasEl) {
			var ctx = canvasEl.getContext("2d"),
				numberOfParticules = 30,
				pointerX = 0,
				pointerY = 0,
				tap = "mousedown",
				colors = ["#FF1461", "#18FF92", "#5A87FF", "#FBF38C"],
				setCanvasSize = debounce(function() {
					canvasEl.width = 2 * window.innerWidth, canvasEl.height = 2 * window.innerHeight, canvasEl.style.width = window.innerWidth +
						"px", canvasEl.style.height = window.innerHeight + "px", canvasEl.getContext("2d").scale(2, 2)
				}, 500),
				render = anime({
					duration: 1 / 0,
					update: function() {
						ctx.clearRect(0, 0, canvasEl.width, canvasEl.height)
					}
				});
			document.addEventListener(tap, function(e) {
				"sidebar" !== e.target.id && "toggle-sidebar" !== e.target.id && "A" !== e.target.nodeName && "IMG" !== e.target.nodeName &&
					(render.play(), updateCoords(e), animateParticules(pointerX, pointerY))
			}, !1), setCanvasSize(), window.addEventListener("resize", setCanvasSize, !1)
		};
		
		</script>
	
	<!-- Main Content -->
	<div class="container">
		<script type="text/javascript" src="\js\FunnyTitle.js"></script>
		<script>
			/*样式二*/
			/* 控制下雪 */
			function snowFall(snow) {
			    /* 可配置属性 */
			    snow = snow || {};
			    this.maxFlake = snow.maxFlake || 1000; /* 最多片数 */
			    this.flakeSize = snow.flakeSize || 10; /* 雪花形状 */
			    this.fallSpeed = snow.fallSpeed || 0.02; /* 坠落速度 */
			}
			/* 兼容写法 */
			requestAnimationFrame = window.requestAnimationFrame ||
			    window.mozRequestAnimationFrame ||
			    window.webkitRequestAnimationFrame ||
			    window.msRequestAnimationFrame ||
			    window.oRequestAnimationFrame ||
			    function (callback) {
			        setTimeout(callback, 1000 / 60);
			    };
			
			cancelAnimationFrame = window.cancelAnimationFrame ||
			    window.mozCancelAnimationFrame ||
			    window.webkitCancelAnimationFrame ||
			    window.msCancelAnimationFrame ||
			    window.oCancelAnimationFrame;
			/* 开始下雪 */
			snowFall.prototype.start = function () {
			    /* 创建画布 */
			    snowCanvas.apply(this);
			    /* 创建雪花形状 */
			    createFlakes.apply(this);
			    /* 画雪 */
			    drawSnow.apply(this)
			}
			/* 创建画布 */
			function snowCanvas() {
			    /* 添加Dom结点 */
			    var snowcanvas = document.createElement("canvas");
			    snowcanvas.id = "snowfall";
			    snowcanvas.width = window.innerWidth;
			    snowcanvas.height = document.body.clientHeight;
			    snowcanvas.setAttribute("style", "position:absolute; top: 0; left: 0; z-index: 1; pointer-events: none;");
			    document.getElementsByTagName("body")[0].appendChild(snowcanvas);
			    this.canvas = snowcanvas;
			    this.ctx = snowcanvas.getContext("2d");
			    /* 窗口大小改变的处理 */
			    window.onresize = function () {
			        snowcanvas.width = window.innerWidth;
			        /* snowcanvas.height = window.innerHeight */
			    }
			}
			/* 雪运动对象 */
			function flakeMove(canvasWidth, canvasHeight, flakeSize, fallSpeed) {
			    this.x = Math.floor(Math.random() * canvasWidth); /* x坐标 */
			    this.y = Math.floor(Math.random() * canvasHeight); /* y坐标 */
			    this.size = Math.random() * flakeSize + 2; /* 形状 */
			    this.maxSize = flakeSize; /* 最大形状 */
			    this.speed = Math.random() * 1 + fallSpeed; /* 坠落速度 */
			    this.fallSpeed = fallSpeed; /* 坠落速度 */
			    this.velY = this.speed; /* Y方向速度 */
			    this.velX = 0; /* X方向速度 */
			    this.stepSize = Math.random() / 30; /* 步长 */
			    this.step = 0 /* 步数 */
			}
			flakeMove.prototype.update = function () {
			    var x = this.x,
			        y = this.y;
			    /* 左右摆动(余弦) */
			    this.velX *= 0.98;
			    if (this.velY <= this.speed) {
			        this.velY = this.speed
			    }
			    this.velX += Math.cos(this.step += .05) * this.stepSize;
			
			    this.y += this.velY;
			    this.x += this.velX;
			    /* 飞出边界的处理 */
			    if (this.x >= canvas.width || this.x <= 0 || this.y >= canvas.height || this.y <= 0) {
			        this.reset(canvas.width, canvas.height)
			    }
			};
			/* 飞出边界-放置最顶端继续坠落 */
			flakeMove.prototype.reset = function (width, height) {
			    this.x = Math.floor(Math.random() * width);
			    this.y = 0;
			    this.size = Math.random() * this.maxSize + 2;
			    this.speed = Math.random() * 1 + this.fallSpeed;
			    this.velY = this.speed;
			    this.velX = 0;
			};
			// 渲染雪花-随机形状（此处可修改雪花颜色！！！）
			flakeMove.prototype.render = function (ctx) {
			    var snowFlake = ctx.createRadialGradient(this.x, this.y, 0, this.x, this.y, this.size);
			    snowFlake.addColorStop(0, "rgba(255, 255, 255, 0.9)"); /* 此处是雪花颜色，默认是白色 */
			    snowFlake.addColorStop(.5, "rgba(255, 255, 255, 0.5)"); /* 若要改为其他颜色，请自行查 */
			    snowFlake.addColorStop(1, "rgba(255, 255, 255, 0)"); /* 找16进制的RGB 颜色代码。 */
			    ctx.save();
			    ctx.fillStyle = snowFlake;
			    ctx.beginPath();
			    ctx.arc(this.x, this.y, this.size, 0, Math.PI * 2);
			    ctx.fill();
			    ctx.restore();
			};
			/* 创建雪花-定义形状 */
			function createFlakes() {
			    var maxFlake = this.maxFlake,
			        flakes = this.flakes = [],
			        canvas = this.canvas;
			    for (var i = 0; i < maxFlake; i++) {
			        flakes.push(new flakeMove(canvas.width, canvas.height, this.flakeSize, this.fallSpeed))
			    }
			}
			/* 画雪 */
			function drawSnow() {
			    var maxFlake = this.maxFlake,
			        flakes = this.flakes;
			    ctx = this.ctx, canvas = this.canvas, that = this;
			    /* 清空雪花 */
			    ctx.clearRect(0, 0, canvas.width, canvas.height);
			    for (var e = 0; e < maxFlake; e++) {
			        flakes[e].update();
			        flakes[e].render(ctx);
			    }
			    /*  一帧一帧的画 */
			    this.loop = requestAnimationFrame(function () {
			        drawSnow.apply(that);
			    });
			}
			/* 调用及控制方法 */
			var snow = new snowFall({
			    maxFlake: 60
			});
			snow.start();
		</script>
	<script>
	// 鼠标点击爱心特效
	!function (e, t, a) {
	        function r() {
	            for (var e = 0; e < s.length; e++) {
	                s[e].alpha <= 0 ? (t.body.removeChild(s[e].el), s.splice(e, 1)) : (s[e].y--, s[e].scale += .004, s[e].alpha -= .013, s[e].el.style.cssText = "left:" + s[e].x + "px;top:" + s[e].y + "px;opacity:" + s[e].alpha + ";transform:scale(" + s[e].scale + "," + s[e].scale + ") rotate(45deg);background:" + s[e].color + ";z-index:99999");
	            }
	            requestAnimationFrame(r)
	        }
	
	        function n() {
	            var t = "function" == typeof e.onclick && e.onclick;
	            e.onclick = function (e) {
	                t && t(),
	                    o(e)
	            }
	        }
	
	        function o(e) {
	            var a = t.createElement("div");
	            a.className = "heart",
	                s.push({
	                    el: a,
	                    x: e.clientX - 5,
	                    y: e.clientY - 5,
	                    scale: 1,
	                    alpha: 1,
	                    color: c()
	                }),
	                t.body.appendChild(a)
	        }
	
	        function i(e) {
	            var a = t.createElement("style");
	            a.type = "text/css";
	            try {
	                a.appendChild(t.createTextNode(e))
	            } catch (t) {
	                a.styleSheet.cssText = e
	            }
	            t.getElementsByTagName("head")[0].appendChild(a)
	        }
	
	        function c() {
	            return "rgb(" + ~~(255 * Math.random()) + "," + ~~(255 * Math.random()) + "," + ~~(255 * Math.random()) + ")"
	        }
	
	        var s = [];
	        e.requestAnimationFrame = e.requestAnimationFrame || e.webkitRequestAnimationFrame || e.mozRequestAnimationFrame || e.oRequestAnimationFrame || e.msRequestAnimationFrame ||
	            function (e) {
	                setTimeout(e, 1e3 / 60)
	            },
	            i(".heart{width: 10px;height: 10px;position: fixed;background: #f00;transform: rotate(45deg);-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);}.heart:after,.heart:before{content: '';width: inherit;height: inherit;background: inherit;border-radius: 50%;-webkit-border-radius: 50%;-moz-border-radius: 50%;position: fixed;}.heart:after{top: -5px;}.heart:before{left: -5px;}"),
	            n(),
	            r()
	    }(window, document);
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	function updateCoords(e) {
		pointerX = (e.clientX || e.touches[0].clientX) - canvasEl.getBoundingClientRect().left, pointerY = e.clientY || e.touches[
			0].clientY - canvasEl.getBoundingClientRect().top
	}
	
	function setParticuleDirection(e) {
		var t = anime.random(0, 360) * Math.PI / 180,
			a = anime.random(50, 180),
			n = [-1, 1][anime.random(0, 1)] * a;
		return {
			x: e.x + n * Math.cos(t),
			y: e.y + n * Math.sin(t)
		}
	}
	
	function createParticule(e, t) {
		var a = {};
		return a.x = e, a.y = t, a.color = colors[anime.random(0, colors.length - 1)], a.radius = anime.random(16, 32), a.endPos =
			setParticuleDirection(a), a.draw = function() {
				ctx.beginPath(), ctx.arc(a.x, a.y, a.radius, 0, 2 * Math.PI, !0), ctx.fillStyle = a.color, ctx.fill()
			}, a
	}
	
	function createCircle(e, t) {
		var a = {};
		return a.x = e, a.y = t, a.color = "#F00", a.radius = 0.1, a.alpha = 0.5, a.lineWidth = 6, a.draw = function() {
			ctx.globalAlpha = a.alpha, ctx.beginPath(), ctx.arc(a.x, a.y, a.radius, 0, 2 * Math.PI, !0), ctx.lineWidth = a.lineWidth,
				ctx.strokeStyle = a.color, ctx.stroke(), ctx.globalAlpha = 1
		}, a
	}
	
	function renderParticule(e) {
		for (var t = 0; t < e.animatables.length; t++) {
			e.animatables[t].target.draw()
		}
	}
	
	function animateParticules(e, t) {
		for (var a = createCircle(e, t), n = [], i = 0; i < numberOfParticules; i++) {
			n.push(createParticule(e, t))
		}
		anime.timeline().add({
			targets: n,
			x: function(e) {
				return e.endPos.x
			},
			y: function(e) {
				return e.endPos.y
			},
			radius: 0.1,
			duration: anime.random(1200, 1800),
			easing: "easeOutExpo",
			update: renderParticule
		}).add({
			targets: a,
			radius: anime.random(80, 160),
			lineWidth: 0,
			alpha: {
				value: 0,
				easing: "linear",
				duration: anime.random(600, 800)
			},
			duration: anime.random(1200, 1800),
			easing: "easeOutExpo",
			update: renderParticule,
			offset: 0
		})
	}
	
	function debounce(e, t) {
		var a;
		return function() {
			var n = this,
				i = arguments;
			clearTimeout(a), a = setTimeout(function() {
				e.apply(n, i)
			}, t)
		}
	}
	var canvasEl = document.querySelector(".fireworks");
	if (canvasEl) {
		var ctx = canvasEl.getContext("2d"),
			numberOfParticules = 30,
			pointerX = 0,
			pointerY = 0,
			tap = "mousedown",
			colors = ["#FF1461", "#18FF92", "#5A87FF", "#FBF38C"],
			setCanvasSize = debounce(function() {
				canvasEl.width = 2 * window.innerWidth, canvasEl.height = 2 * window.innerHeight, canvasEl.style.width = window.innerWidth +
					"px", canvasEl.style.height = window.innerHeight + "px", canvasEl.getContext("2d").scale(2, 2)
			}, 500),
			render = anime({
				duration: 1 / 0,
				update: function() {
					ctx.clearRect(0, 0, canvasEl.width, canvasEl.height)
				}
			});
		document.addEventListener(tap, function(e) {
			"sidebar" !== e.target.id && "toggle-sidebar" !== e.target.id && "A" !== e.target.nodeName && "IMG" !== e.target.nodeName &&
				(render.play(), updateCoords(e), animateParticules(pointerX, pointerY))
		}, !1), setCanvasSize(), window.addEventListener("resize", setCanvasSize, !1)
	}
	
	
	function updateCoords(e) {
		pointerX = (e.clientX || e.touches[0].clientX) - canvasEl.getBoundingClientRect().left, pointerY = e.clientY || e.touches[
			0].clientY - canvasEl.getBoundingClientRect().top
	}
	
	function setParticuleDirection(e) {
		var t = anime.random(0, 360) * Math.PI / 180,
			a = anime.random(50, 180),
			n = [-1, 1][anime.random(0, 1)] * a;
		return {
			x: e.x + n * Math.cos(t),
			y: e.y + n * Math.sin(t)
		}
	}
	
	function createParticule(e, t) {
		var a = {};
		return a.x = e, a.y = t, a.color = colors[anime.random(0, colors.length - 1)], a.radius = anime.random(16, 32), a.endPos =
			setParticuleDirection(a), a.draw = function() {
				ctx.beginPath(), ctx.arc(a.x, a.y, a.radius, 0, 2 * Math.PI, !0), ctx.fillStyle = a.color, ctx.fill()
			}, a
	}
	
	function createCircle(e, t) {
		var a = {};
		return a.x = e, a.y = t, a.color = "#F00", a.radius = 0.1, a.alpha = 0.5, a.lineWidth = 6, a.draw = function() {
			ctx.globalAlpha = a.alpha, ctx.beginPath(), ctx.arc(a.x, a.y, a.radius, 0, 2 * Math.PI, !0), ctx.lineWidth = a.lineWidth,
				ctx.strokeStyle = a.color, ctx.stroke(), ctx.globalAlpha = 1
		}, a
	}
	
	function renderParticule(e) {
		for (var t = 0; t < e.animatables.length; t++) {
			e.animatables[t].target.draw()
		}
	}
	
	function animateParticules(e, t) {
		for (var a = createCircle(e, t), n = [], i = 0; i < numberOfParticules; i++) {
			n.push(createParticule(e, t))
		}
		anime.timeline().add({
			targets: n,
			x: function(e) {
				return e.endPos.x
			},
			y: function(e) {
				return e.endPos.y
			},
			radius: 0.1,
			duration: anime.random(1200, 1800),
			easing: "easeOutExpo",
			update: renderParticule
		}).add({
			targets: a,
			radius: anime.random(80, 160),
			lineWidth: 0,
			alpha: {
				value: 0,
				easing: "linear",
				duration: anime.random(600, 800)
			},
			duration: anime.random(1200, 1800),
			easing: "easeOutExpo",
			update: renderParticule,
			offset: 0
		})
	}
	
	function debounce(e, t) {
		var a;
		return function() {
			var n = this,
				i = arguments;
			clearTimeout(a), a = setTimeout(function() {
				e.apply(n, i)
			}, t)
		}
	}
	var canvasEl = document.querySelector(".fireworks");
	if (canvasEl) {
		var ctx = canvasEl.getContext("2d"),
			numberOfParticules = 30,
			pointerX = 0,
			pointerY = 0,
			tap = "mousedown",
			colors = ["#FF1461", "#18FF92", "#5A87FF", "#FBF38C"],
			setCanvasSize = debounce(function() {
				canvasEl.width = 2 * window.innerWidth, canvasEl.height = 2 * window.innerHeight, canvasEl.style.width = window.innerWidth +
					"px", canvasEl.style.height = window.innerHeight + "px", canvasEl.getContext("2d").scale(2, 2)
			}, 500),
			render = anime({
				duration: 1 / 0,
				update: function() {
					ctx.clearRect(0, 0, canvasEl.width, canvasEl.height)
				}
			});
		document.addEventListener(tap, function(e) {
			"sidebar" !== e.target.id && "toggle-sidebar" !== e.target.id && "A" !== e.target.nodeName && "IMG" !== e.target.nodeName &&
				(render.play(), updateCoords(e), animateParticules(pointerX, pointerY))
		}, !1), setCanvasSize(), window.addEventListener("resize", setCanvasSize, !1)
	};
	
	</script>
	
	<div class="row">
			{% if site.sidebar == false %}
			<!-- NO SIDEBAR -->
			<!-- PostList Container -->
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 postlist-container">
				{{ content }}


			</div>
			<!-- Sidebar Container -->
			<div class="
                col-lg-8 col-lg-offset-2
                col-md-10 col-md-offset-1
                sidebar-container">
<canvas id="canvas" style="width:60%;">当前浏览器不支持canvas，请更换浏览器后再试</canvas>
</div>
<script>
(function(){

   var digit=
    [
        [
            [0,0,1,1,1,0,0],
            [0,1,1,0,1,1,0],
            [1,1,0,0,0,1,1],
            [1,1,0,0,0,1,1],
            [1,1,0,0,0,1,1],
            [1,1,0,0,0,1,1],
            [1,1,0,0,0,1,1],
            [1,1,0,0,0,1,1],
            [0,1,1,0,1,1,0],
            [0,0,1,1,1,0,0]
        ],//0
        [
            [0,0,0,1,1,0,0],
            [0,1,1,1,1,0,0],
            [0,0,0,1,1,0,0],
            [0,0,0,1,1,0,0],
            [0,0,0,1,1,0,0],
            [0,0,0,1,1,0,0],
            [0,0,0,1,1,0,0],
            [0,0,0,1,1,0,0],
            [0,0,0,1,1,0,0],
            [1,1,1,1,1,1,1]
        ],//1
        [
            [0,1,1,1,1,1,0],
            [1,1,0,0,0,1,1],
            [0,0,0,0,0,1,1],
            [0,0,0,0,1,1,0],
            [0,0,0,1,1,0,0],
            [0,0,1,1,0,0,0],
            [0,1,1,0,0,0,0],
            [1,1,0,0,0,0,0],
            [1,1,0,0,0,1,1],
            [1,1,1,1,1,1,1]
        ],//2
        [
            [1,1,1,1,1,1,1],
            [0,0,0,0,0,1,1],
            [0,0,0,0,1,1,0],
            [0,0,0,1,1,0,0],
            [0,0,1,1,1,0,0],
            [0,0,0,0,1,1,0],
            [0,0,0,0,0,1,1],
            [0,0,0,0,0,1,1],
            [1,1,0,0,0,1,1],
            [0,1,1,1,1,1,0]
        ],//3
        [
            [0,0,0,0,1,1,0],
            [0,0,0,1,1,1,0],
            [0,0,1,1,1,1,0],
            [0,1,1,0,1,1,0],
            [1,1,0,0,1,1,0],
            [1,1,1,1,1,1,1],
            [0,0,0,0,1,1,0],
            [0,0,0,0,1,1,0],
            [0,0,0,0,1,1,0],
            [0,0,0,1,1,1,1]
        ],//4
        [
            [1,1,1,1,1,1,1],
            [1,1,0,0,0,0,0],
            [1,1,0,0,0,0,0],
            [1,1,1,1,1,1,0],
            [0,0,0,0,0,1,1],
            [0,0,0,0,0,1,1],
            [0,0,0,0,0,1,1],
            [0,0,0,0,0,1,1],
            [1,1,0,0,0,1,1],
            [0,1,1,1,1,1,0]
        ],//5
        [
            [0,0,0,0,1,1,0],
            [0,0,1,1,0,0,0],
            [0,1,1,0,0,0,0],
            [1,1,0,0,0,0,0],
            [1,1,0,1,1,1,0],
            [1,1,0,0,0,1,1],
            [1,1,0,0,0,1,1],
            [1,1,0,0,0,1,1],
            [1,1,0,0,0,1,1],
            [0,1,1,1,1,1,0]
        ],//6
        [
            [1,1,1,1,1,1,1],
            [1,1,0,0,0,1,1],
            [0,0,0,0,1,1,0],
            [0,0,0,0,1,1,0],
            [0,0,0,1,1,0,0],
            [0,0,0,1,1,0,0],
            [0,0,1,1,0,0,0],
            [0,0,1,1,0,0,0],
            [0,0,1,1,0,0,0],
            [0,0,1,1,0,0,0]
        ],//7
        [
            [0,1,1,1,1,1,0],
            [1,1,0,0,0,1,1],
            [1,1,0,0,0,1,1],
            [1,1,0,0,0,1,1],
            [0,1,1,1,1,1,0],
            [1,1,0,0,0,1,1],
            [1,1,0,0,0,1,1],
            [1,1,0,0,0,1,1],
            [1,1,0,0,0,1,1],
            [0,1,1,1,1,1,0]
        ],//8
        [
            [0,1,1,1,1,1,0],
            [1,1,0,0,0,1,1],
            [1,1,0,0,0,1,1],
            [1,1,0,0,0,1,1],
            [0,1,1,1,0,1,1],
            [0,0,0,0,0,1,1],
            [0,0,0,0,0,1,1],
            [0,0,0,0,1,1,0],
            [0,0,0,1,1,0,0],
            [0,1,1,0,0,0,0]
        ],//9
        [
            [0,0,0,0,0,0,0],
            [0,0,1,1,1,0,0],
            [0,0,1,1,1,0,0],
            [0,0,1,1,1,0,0],
            [0,0,0,0,0,0,0],
            [0,0,0,0,0,0,0],
            [0,0,1,1,1,0,0],
            [0,0,1,1,1,0,0],
            [0,0,1,1,1,0,0],
            [0,0,0,0,0,0,0]
        ]//:
    ];

var canvas = document.getElementById('canvas');

if(canvas.getContext){
    var cxt = canvas.getContext('2d');
    //声明canvas的宽高
    var H = 100,W = 700;
    canvas.height = H;
    canvas.width = W;
    cxt.fillStyle = '#f00';
    cxt.fillRect(10,10,50,50);

    //存储时间数据
    var data = [];
    //存储运动的小球
    var balls = [];
    //设置粒子半径
    var R = canvas.height/20-1;
    (function(){
        var temp = /(\d)(\d):(\d)(\d):(\d)(\d)/.exec(new Date());
        //存储时间数字，由十位小时、个位小时、冒号、十位分钟、个位分钟、冒号、十位秒钟、个位秒钟这7个数字组成
        data.push(temp[1],temp[2],10,temp[3],temp[4],10,temp[5],temp[6]);
    })();

    /*生成点阵数字*/
    function renderDigit(index,num){
        for(var i = 0; i < digit[num].length; i++){
            for(var j = 0; j < digit[num][i].length; j++){
                if(digit[num][i][j] == 1){
                    cxt.beginPath();
                    cxt.arc(14*(R+2)*index + j*2*(R+1)+(R+1),i*2*(R+1)+(R+1),R,0,2*Math.PI);
                    cxt.closePath();
                    cxt.fill();
                }
            }
        }
    }

    /*更新时钟*/
    function updateDigitTime(){
        var changeNumArray = [];
        var temp = /(\d)(\d):(\d)(\d):(\d)(\d)/.exec(new Date());
        var NewData = [];
        NewData.push(temp[1],temp[2],10,temp[3],temp[4],10,temp[5],temp[6]);
        for(var i = data.length-1; i >=0 ; i--){
            //时间发生变化
            if(NewData[i] !== data[i]){
                //将变化的数字值和在data数组中的索引存储在changeNumArray数组中
                changeNumArray.push(i+'_'+(Number(data[i])+1)%10);
            }
        }
        //增加小球
        for(var i = 0; i< changeNumArray.length; i++){
            addBalls.apply(this,changeNumArray[i].split('_'));
        }
        data = NewData.concat();
    }

    /*更新小球状态*/
    function updateBalls(){
        for(var i = 0; i < balls.length; i++){
            balls[i].stepY += balls[i].disY;
            balls[i].x += balls[i].stepX;
            balls[i].y += balls[i].stepY;
            if(balls[i].x > W + R || balls[i].y > H + R){
                balls.splice(i,1);
                i--;
            }
        }
    }

    /*增加要运动的小球*/
    function addBalls(index,num){
        var numArray = [1,2,3];
        var colorArray =  ["#3BE","#09C","#A6C","#93C","#9C0","#690","#FB3","#F80","#F44","#C00"];
        for(var i = 0; i < digit[num].length; i++){
            for(var j = 0; j < digit[num][i].length; j++){
                if(digit[num][i][j] == 1){
                    var ball = {
                        x:14*(R+2)*index + j*2*(R+1)+(R+1),
                        y:i*2*(R+1)+(R+1),
                        stepX:Math.floor(Math.random() * 4 -2),
                        stepY:-2*numArray[Math.floor(Math.random()*numArray.length)],
                        color:colorArray[Math.floor(Math.random()*colorArray.length)],
                        disY:1
                    };
                    balls.push(ball);
                }
            }
        }
    }

    /*渲染*/
    function render(){
        //重置画布宽度，达到清空画布的效果
        canvas.height = 100;
        //渲染时钟
        for(var i = 0; i < data.length; i++){
            renderDigit(i,data[i]);
        }
        //渲染小球
        for(var i = 0; i < balls.length; i++){
            cxt.beginPath();
            cxt.arc(balls[i].x,balls[i].y,R,0,2*Math.PI);
            cxt.fillStyle = balls[i].color;
            cxt.closePath();
            cxt.fill();
        }
    }

    clearInterval(oTimer);
    var oTimer = setInterval(function(){
        //更新时钟
        updateDigitTime();
        //更新小球状态
        updateBalls();
        //渲染
        render();
    },50);
}

})();
</script>
   </div>
  </aside>
  <div id="sidebar-dimmer"></div>
				<!-- Featured Tags -->
				{% if site.featured-tags %}
				<section>
					<!-- no hr -->
					<h5><a href="{{'/tags/' | prepend: site.baseurl }}">FEATURED TAGS</a></h5>
					<div class="tags">
						{% for tag in site.tags %}
						{% if tag[1].size > {{site.featured-condition-size}} %}
						<a href="{{ site.baseurl }}/tags/#{{ tag[0] }}" title="{{ tag[0] }}" rel="{{ tag[1].size }}">
							{{ tag[0] }}
						</a>
						{% endif %}
						{% endfor %}
					</div>
				</section>
				{% endif %}

				<!-- Friends Blog -->
				{% if site.friends %}
				<hr>
				<h5>FRIENDS</h5>
				<ul class="list-inline">
					{% for friend in site.friends %}
					<li>
						</p><a href="{{friend.href}}">{{friend.title}}</a></li>
					{% endfor %}
				</ul>
				{% endif %}
			</div>
			{% else %}

			<!-- USE SIDEBAR -->
			<!-- PostList Container -->
			<div class="
                col-lg-8 col-lg-offset-1
                col-md-8 col-md-offset-1
                col-sm-12
                col-xs-12
                postlist-container
            ">
				{{ content }}
			</div>
			<!--sidebar-->
			<!-- Sidebar Container -->
			<div class="
                col-lg-3 col-lg-offset-0
                col-md-3 col-md-offset-0
                col-sm-12
                col-xs-12
                sidebar-container
            ">
				<!-- Featured Tags -->
				{% if site.featured-tags %}
				<section>
					<hr class="hidden-sm hidden-xs">
					<h5><a href="{{'/tags/' | prepend: site.baseurl }}">FEATURED TAGS</a></h5>
					<div class="tags">
						{% for tag in site.tags %}
						{% if tag[1].size > {{site.featured-condition-size}} %}
						<a href="{{ site.baseurl }}/tags/#{{ tag[0] }}" title="{{ tag[0] }}" rel="{{ tag[1].size }}">
							{{ tag[0] }}
						</a>
						{% endif %}
						{% endfor %}
					</div>
				</section>
				{% endif %}

				<!-- Short About -->
				<section class="visible-md visible-lg">
					<hr>
					<h5><a href="{{'/about/' | prepend: site.baseurl }}">ABOUT ME</a></h5>
					<div class="short-about">
						{% if site.sidebar-avatar %}
						<a href="{{ site.baseurl }}/about">
							<img src="{{site.sidebar-avatar}}" />
						</a>
						{% endif %}
						{% if site.sidebar-about-description %}
						<p>{{site.sidebar-about-description}}</p>
						{% endif %}
						<!-- SNS Link -->
						<ul class="list-inline">
							{% if site.RSS %}
							<li>
								<a href="{{ "/feed.xml" | prepend: site.baseurl }}">
									<span class="fa-stack fa-lg">
										<i class="fa fa-circle fa-stack-2x"></i>
										<i class="fa fa-rss fa-stack-1x fa-inverse"></i>
									</span>
								</a>
							</li>
							{% endif %}
							<!-- add jianshu add target = "_blank" to <a> by BY -->
							{% if site.jianshu_username %}
							<li>
								<a target="_blank" href="https://mp.weixin.qq.com/profile?src=3&timestamp=1596789111&ver=1&signature=24lDXdNhHftLVYpWTBSI0A8o5VpAlIZq3ZyRoa-qm*8Wedg6mtSzyjc98HYxkGh9hnzpi2my40CASE-m51hcvQ==">
									<span class="fa-stack fa-lg">
										<i class="fa fa-circle fa-stack-2x"></i>
										<i class="fa  fa-stack-1x fa-inverse">扯</i>
									</span>
								</a>
							</li>
							{% endif %}
							{% if site.twitter_username %}
							<li>
								<a href="https://twitter.com/{{ site.twitter_username }}">
									<span class="fa-stack fa-lg">
										<i class="fa fa-circle fa-stack-2x"></i>
										<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
									</span>
								</a>
							</li>
							{% endif %}
							{% if site.zhihu_username %}
							<li>
								<a target="_blank" href="https://www.zhihu.com/people/{{ site.zhihu_username }}">
									<span class="fa-stack fa-lg">
										<i class="fa fa-circle fa-stack-2x"></i>
										<i class="fa  fa-stack-1x fa-inverse">知</i>
									</span>
								</a>
							</li>
							{% endif %}
							{% if site.weibo_username %}
							<li>
								<a target="_blank" href="http://weibo.com/{{ site.weibo_username }}">
									<span class="fa-stack fa-lg">
										<i class="fa fa-circle fa-stack-2x"></i>
										<i class="fa fa-weibo fa-stack-1x fa-inverse"></i>
									</span>
								</a>
							</li>
							{% endif %}
							{% if site.facebook_username %}
							<li>
								<a target="_blank" href="https://www.facebook.com/{{ site.facebook_username }}">
									<span class="fa-stack fa-lg">
										<i class="fa fa-circle fa-stack-2x"></i>
										<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
									</span>
								</a>
							</li>
							{% endif %}
							{% if site.github_username %}
							<li>
								<a target="_blank" href="https://github.com/{{ site.github_username }}">
									<span class="fa-stack fa-lg">
										<i class="fa fa-circle fa-stack-2x"></i>
										<i class="fa fa-github fa-stack-1x fa-inverse"></i>
									</span>
								</a>
							</li>
							{% endif %}

						</ul>
						{% if site.email %}
						<p>✉️ {{site.email}}</p>
						{% endif %}
					</div>
				</section>
				<!-- Friends Blog -->
				{% if site.friends %}
				<hr>
				
				<h5>FRIENDS</h5>
				<ol class="list-inline">
					{% for friend in site.friends %}
					<h3>
						<li><a href="{{friend.href}}">{{friend.title}}</a></li>
					</h3>
					{% endfor %}
				</ol>
				{% endif %}
			</div>
			{% endif %}
		</div>
	</div>

					