---
layout: default
---
<script>
	/*样式二*/
	/* 控制下雪 */
	function snowFall(snow) {
	    /* 可配置属性 */
	    snow = snow || {};
	    this.maxFlake = snow.maxFlake || 200; /* 最多片数 */
	    this.flakeSize = snow.flakeSize || 10; /* 雪花形状 */
	    this.fallSpeed = snow.fallSpeed || 1; /* 坠落速度 */
	}
	/* 兼容写法 */
	requestAnimationFrame = window.requestAnimationFrame ||
	    window.mozRequestAnimationFrame ||
	    window.webkitRequestAnimationFrame ||
	    window.msRequestAnimationFrame ||
	    window.oRequestAnimationFrame ||
	    function (callback) {
	        setTimeout(callback, 1000 / 60);
	    };
	
	cancelAnimationFrame = window.cancelAnimationFrame ||
	    window.mozCancelAnimationFrame ||
	    window.webkitCancelAnimationFrame ||
	    window.msCancelAnimationFrame ||
	    window.oCancelAnimationFrame;
	/* 开始下雪 */
	snowFall.prototype.start = function () {
	    /* 创建画布 */
	    snowCanvas.apply(this);
	    /* 创建雪花形状 */
	    createFlakes.apply(this);
	    /* 画雪 */
	    drawSnow.apply(this)
	}
	/* 创建画布 */
	function snowCanvas() {
	    /* 添加Dom结点 */
	    var snowcanvas = document.createElement("canvas");
	    snowcanvas.id = "snowfall";
	    snowcanvas.width = window.innerWidth;
	    snowcanvas.height = document.body.clientHeight;
	    snowcanvas.setAttribute("style", "position:absolute; top: 0; left: 0; z-index: 1; pointer-events: none;");
	    document.getElementsByTagName("body")[0].appendChild(snowcanvas);
	    this.canvas = snowcanvas;
	    this.ctx = snowcanvas.getContext("2d");
	    /* 窗口大小改变的处理 */
	    window.onresize = function () {
	        snowcanvas.width = window.innerWidth;
	        /* snowcanvas.height = window.innerHeight */
	    }
	}
	/* 雪运动对象 */
	function flakeMove(canvasWidth, canvasHeight, flakeSize, fallSpeed) {
	    this.x = Math.floor(Math.random() * canvasWidth); /* x坐标 */
	    this.y = Math.floor(Math.random() * canvasHeight); /* y坐标 */
	    this.size = Math.random() * flakeSize + 2; /* 形状 */
	    this.maxSize = flakeSize; /* 最大形状 */
	    this.speed = Math.random() * 1 + fallSpeed; /* 坠落速度 */
	    this.fallSpeed = fallSpeed; /* 坠落速度 */
	    this.velY = this.speed; /* Y方向速度 */
	    this.velX = 0; /* X方向速度 */
	    this.stepSize = Math.random() / 30; /* 步长 */
	    this.step = 0 /* 步数 */
	}
	flakeMove.prototype.update = function () {
	    var x = this.x,
	        y = this.y;
	    /* 左右摆动(余弦) */
	    this.velX *= 0.98;
	    if (this.velY <= this.speed) {
	        this.velY = this.speed
	    }
	    this.velX += Math.cos(this.step += .05) * this.stepSize;
	
	    this.y += this.velY;
	    this.x += this.velX;
	    /* 飞出边界的处理 */
	    if (this.x >= canvas.width || this.x <= 0 || this.y >= canvas.height || this.y <= 0) {
	        this.reset(canvas.width, canvas.height)
	    }
	};
	/* 飞出边界-放置最顶端继续坠落 */
	flakeMove.prototype.reset = function (width, height) {
	    this.x = Math.floor(Math.random() * width);
	    this.y = 0;
	    this.size = Math.random() * this.maxSize + 2;
	    this.speed = Math.random() * 1 + this.fallSpeed;
	    this.velY = this.speed;
	    this.velX = 0;
	};
	// 渲染雪花-随机形状（此处可修改雪花颜色！！！）
	flakeMove.prototype.render = function (ctx) {
	    var snowFlake = ctx.createRadialGradient(this.x, this.y, 0, this.x, this.y, this.size);
	    snowFlake.addColorStop(0, "rgba(255, 255, 255, 0.9)"); /* 此处是雪花颜色，默认是白色 */
	    snowFlake.addColorStop(.5, "rgba(255, 255, 255, 0.5)"); /* 若要改为其他颜色，请自行查 */
	    snowFlake.addColorStop(1, "rgba(255, 255, 255, 0)"); /* 找16进制的RGB 颜色代码。 */
	    ctx.save();
	    ctx.fillStyle = snowFlake;
	    ctx.beginPath();
	    ctx.arc(this.x, this.y, this.size, 0, Math.PI * 2);
	    ctx.fill();
	    ctx.restore();
	};
	/* 创建雪花-定义形状 */
	function createFlakes() {
	    var maxFlake = this.maxFlake,
	        flakes = this.flakes = [],
	        canvas = this.canvas;
	    for (var i = 0; i < maxFlake; i++) {
	        flakes.push(new flakeMove(canvas.width, canvas.height, this.flakeSize, this.fallSpeed))
	    }
	}
	/* 画雪 */
	function drawSnow() {
	    var maxFlake = this.maxFlake,
	        flakes = this.flakes;
	    ctx = this.ctx, canvas = this.canvas, that = this;
	    /* 清空雪花 */
	    ctx.clearRect(0, 0, canvas.width, canvas.height);
	    for (var e = 0; e < maxFlake; e++) {
	        flakes[e].update();
	        flakes[e].render(ctx);
	    }
	    /*  一帧一帧的画 */
	    this.loop = requestAnimationFrame(function () {
	        drawSnow.apply(that);
	    });
	}
	/* 调用及控制方法 */
	var snow = new snowFall({
	    maxFlake: 60
	});
	snow.start();
</script>

<!-- Image to hack wechat -->
<!-- <img src="/img/icon_wechat.png" width="0" height="0"> -->
<!-- <img src="{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}" width="0" height="0"> -->
<meta name="referrer" content="never">
<!-- Post Header -->
<style type="text/css">
    header.intro-header{
        position: relative;
        background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')
    }

    {% if page.header-mask %}
    header.intro-header .header-mask{
        width: 100%;
        height: 100%;
        position: absolute;
        background: rgba(0,0,0, {{ page.header-mask }});
    }
    {% endif %}

</style>
<header class="intro-header" >
    <div class="header-mask"></div>
    <div class="container">
        <div class="row">
           <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <div class="tags">
                        {% for tag in page.tags %}
                        <a class="tag" href="{{ site.baseurl }}/tags/#{{ tag }}" title="{{ tag }}">{{ tag }}</a>
                        {% endfor %}
                    </div>
                    <h1>{{ page.title }}</h1>
                    {% comment %}
                        always create a h2 for keeping the margin , Hux
                    {% endcomment %}
                    {% comment %} if page.subtitle {% endcomment %}
                    <h2 class="subheading">{{ page.subtitle }}</h2>
                    {% comment %} endif {% endcomment %}
                    <span class="meta">Posted by {% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif %} on {{ page.date | date: "%B %-d, %Y" }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">

    <!-- Post Container -->
                <div class="
                col-lg-8 col-lg-offset-2
                col-md-10 col-md-offset-1
                post-container">
				

				{{ content }}

                <hr style="visibility: hidden;">

                <ul class="pager">
                    {% if page.previous.url %}
                    <li class="previous">
                        <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">
                        Previous<br>
                        <span>{{page.previous.title}}</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if page.next.url %}
                    <li class="next">
                        <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">
                        Next<br>
                        <span>{{page.next.title}}</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>


                <!--Gitalk评论start  -->
                {% if site.gitalk.enable %}
                <!-- 引入Gitalk评论插件  -->
                <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
                <script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>
                <div id="gitalk-container"></div>
                <!-- 引入一个生产md5的js，用于对id值进行处理，防止其过长 -->
                <!-- Thank DF:https://github.com/NSDingFan/NSDingFan.github.io/issues/3#issuecomment-407496538 -->
                <script src="{{ site.baseurl }}/js/md5.min.js"></script>
                <script type="text/javascript">
                    var gitalk = new Gitalk({
                    clientID: '{{site.gitalk.clientID}}',
                    clientSecret: '{{site.gitalk.clientSecret}}',
                    repo: '{{site.gitalk.repo}}',
                    owner: '{{site.gitalk.owner}}',
                    admin: ['{{site.gitalk.admin}}'],
                    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
                    id: md5(location.pathname),
                    });
                    gitalk.render('gitalk-container');
                </script>
                {% endif %}
                <!-- Gitalk end -->

                {% if site.disqus_username %}
                <!-- disqus 评论框 start -->
                <div class="comment">
                    <div id="disqus_thread" class="disqus-thread"></div>
                </div>
                <!-- disqus 评论框 end -->
                {% endif %}

            </div>  

    <!-- Side Catalog Container -->
        {% if page.catalog %}
            <div class="
                col-lg-2 col-lg-offset-0
                visible-lg-block
                sidebar-container
                catalog-container">
                <div class="side-catalog">
                    <hr class="hidden-sm hidden-xs">
                    <h5>
                        <a class="catalog-toggle" href="#">CATALOG</a>
                    </h5>
                    <ul class="catalog-body"></ul>
                </div>
            </div>
        {% endif %}

    <!-- Sidebar Container -->
            <div class="
                col-lg-8 col-lg-offset-2
                col-md-10 col-md-offset-1
                sidebar-container">

                <!-- Featured Tags -->
                {% if site.featured-tags %}
                <section>
                    <hr class="hidden-sm hidden-xs">
                    <h5><a href="/tags/">FEATURED TAGS</a></h5>
                    <div class="tags">
        				{% for tag in site.tags %}
                            {% if tag[1].size > {{site.featured-condition-size}} %}
                				<a href="/tags/#{{ tag[0] }}" title="{{ tag[0] }}" rel="{{ tag[1].size }}">
                                    {{ tag[0] }}
                                </a>
                            {% endif %}
        				{% endfor %}
        			</div>
                </section>
                {% endif %}

                <!--
                {% if site.friends %}
                <hr>
                <h5>FRIENDS</h5>
                <ol class="list-inline">
                    {% for friend in site.friends %}
                        <li><a href="{{friend.href}}">{{friend.title}}</a></li>
                    {% endfor %}
                </ol>    -->
                {% endif %}
            </div>
        </div>
    </div>
</article>


{% if site.disqus_username %}
<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{page.id}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}


{% if site.anchorjs %}
<!-- async load function -->
<script>
    function async(u, c) {
      var d = document, t = 'script',
          o = d.createElement(t),
          s = d.getElementsByTagName(t)[0];
      o.src = u;
      if (c) { o.addEventListener('load', function (e) { c(null, e); }, false); }
      s.parentNode.insertBefore(o, s);
    }
</script>
<!-- anchor-js, Doc:http://bryanbraun.github.io/anchorjs/ -->
<script>
    async("//cdnjs.cloudflare.com/ajax/libs/anchor-js/1.1.1/anchor.min.js",function(){
        // BY Fix:去除标题前的‘#’ issues:<https://github.com/qiubaiying/qiubaiying.github.io/issues/137>
        // anchors.options = {
        //   visible: 'always',
        //   placement: 'right',
        //   icon: '#'
        // };
        anchors.add().remove('.intro-header h1').remove('.subheading').remove('.sidebar-container h5');
    })
</script>
<style>
    /* place left on bigger screen */
    @media all and (min-width: 800px) {
        .anchorjs-link{
            position: absolute;
            left: -0.75em;
            font-size: 1.1em;
            margin-top : -0.1em;
        }
    }
</style>
{% endif %}